.layout-render {
  display: block;
}

.grid-pattern {
  stroke: gray;
  fill: none;
  stroke-width: 0.05;
}

.grid-pattern-small {
  stroke: gray;
  fill: none;
  stroke-width: 0.025;
}

.layout-object rect {
  stroke: black;
  stroke-width: 0.1;
}

.layout-object-hover .layout-object, .layout-object-tmp .layout-object {
  cursor: pointer;
}

.layout-object-hover rect, .layout-object-tmp rect {
  transition-property: stroke, stroke-width, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.layout-object-hover .layout-object:hover rect {
  stroke: yellow;
  stroke-width: 0.2;
}

.layout-object-tmp rect {
  stroke: #00ff00;
}

.layout-object-collision rect {
  stroke: #ff0000;
  opacity: 0.5;
}
