.layout-render {
  border: 1px solid black;
}

.grid-pattern {
  stroke: gray;
  fill: none;
  stroke-width: 0.05;
}

.grid-pattern-small {
  stroke: gray;
  fill: none;
  stroke-width: 0.025;
}

.layout-object {
  stroke: black;
  stroke-width: 0.1;
}

.layout-object-hover, .layout-object-tmp {
  cursor: pointer;
}

.layout-object-hover {
  transition: stroke ease-out 0.1s;
}

.layout-object-hover:hover {
  stroke: yellow;
  stroke-width: 0.2;
}
