.layout {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  animation: fadein ease-out 0.8s;
}

.gridPattern {
  stroke: gray;
  fill: none;
  stroke-width: 0.05;
}

.smallGridPattern {
  stroke: gray;
  fill: none;
  stroke-width: 0.025;
}

.layoutGroup {
  transition: transform ease-out 0.4s;
}

.building {
  stroke: black;
  vector-effect: non-scaling-stroke;
}

.building-hover {
  transition: all ease-out 0.1s;
  transform-origin: 50% 50%;
}

.building-hover:hover {
  transform: scale(1.08);
  stroke: yellow;
  stroke-width: 2px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
