@import "../lib/bootstrap/custom.bootstrap.import.less";

.layout-list {
  height: 200px;
}

.layout-view {
  height: 400px;
}

div.comment-left {
  margin-right: 15px;
}

div.comment-right {
  margin-left: 15px;
}

pre.comment {
  max-height: 300px;
}

textarea.comment {
  .resizable(vertical);
}
