<template name="layouts">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Layouts</h3>
    </div>
    <div class="list-group">
      {{#each layouts}}
        <a href="{{pathFor route="designer"}}" class="list-group-item">
          Number of buildings: {{objects.length}}, Created at: {{formatDate createdAt}}, Created by: {{creator}}
          <span class="pull-right">
            <button class="btn btn-xs btn-danger" title="Delete">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </a>
      {{/each}}
    </div>
  </div>
</template>
