<template name="layoutList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Layout list</h3>
    </div>
    <div class="panel-body">
      {{#each layouts}}
        {{>layoutListItem}}
      {{/each}}
    </div>
  </div>
</template>

<template name="layoutListItem">
  <div class="col-sm-6 col-md-4">
    <a href="{{pathFor route="layout.view"}}" class="thumbnail">
      {{>layoutPreview}}
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <dl>
          <dt>Number of buildings</dt>
          <dd>{{objects.length}}</dd>
          <dt>Created by</dt>
          <dd>{{getUsername creator}}</dd>
          <dt>Created at</dt>
          <dd>{{formatDate createdAt}}</dd>
          <dt>Last updated at</dt>
          <dd>{{formatDate updatedAt}}</dd>
        </dl>
      </div>
    </a>
  </div>
</template>
