<template name="layoutView">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Layout details</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          {{>layoutPreview}}
        </div>
        <div class="col-sm-4">
          <dl>
            <dt>Number of buildings</dt>
            <dd>{{objects.length}}</dd>
            <dt>Created at</dt>
            <dd>{{formatDate createdAt}}</dd>
            <dt>Updated at</dt>
            <dd>{{formatDate updatedAt "never"}}</dd>
            <dt>Created by</dt>
            <dd>{{getUsername creator}}</dd>
          </dl>
          {{#if equalsCurrentUser creator}}
            <a href="{{pathFor route="designer"}}" class="btn btn-primary" title="Edit">
              <span class="glyphicon glyphicon-edit"></span> Edit in designer
            </a>
          {{else}}
            <p>TODO: Provide options for layouts created by other users. Maybe something like "copy and open in designer".</p>
          {{/if}}
          {{#if allowDelete creator}}
            <button type="button" class="btn btn-danger remove-layout" title="Delete">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
          {{/if}}

        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h3 class="list-group-item-heading">Comments</h3>
        <p class="list-group-item-text">Number of comments: {{comments.count}}</p>
      </div>
      {{#each comments}}
        <div class="list-group-item clearfix comment">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-menu-right"></span>
            {{getUsername creator}}
            <small>{{formatDateTime createdAt}}</small>
          </h4>
          {{#if allowDelete creator}}
            <div class="pull-right comment-right">
              <button type="button" class="btn btn-danger remove-comment" title="Delete">
                <span class="glyphicon glyphicon-trash"></span>
                <span class="hidden-xs">Delete</span>
              </button>
            </div>
          {{/if}}
          <pre class="list-group-item-text comment">{{content}}</pre>
        </div>
      {{/each}}
      {{#if currentUser}}
        <form class="list-group-item comment">
          <h3 class="list-group-item-heading">Leave a comment</h3>
          <div class="form-group">
            <textarea name="comment" placeholder="New comment" rows="5" class="form-control comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-comment"></span> Submit
          </button>
        </form>
      {{/if}}
    </div>
  </div>
</template>
